<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <h1 class="welcome"> Welcome to <%= title %></h1>
  <body>
    <button onclick="home(event)">Get Started</button>
    <script>
      const home = (e) => {
        window.location.href = "/index"
      };
    </script>
  </body>
</html>
